.card {
    z-index: 5;
    box-shadow: 0 0 0.125rem 0.125rem var(--secondary-highlight-color);
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    max-width: 320px;
    transition:  box-shadow 0.25s;
}

.card__header {
    background-color: var(--primary-shadow-color);
    padding: 0.5rem 1rem;
}

.card__section {
    box-shadow: 
    0 0 0 0.125rem var(--reverse-primary-shadow-color),
    0 0 0 0.25rem var(--reverse-primary-shadow-color);
    box-sizing: border-box;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    max-width: 320px;
    margin: 0 auto; 
    transition: box-shadow 0.25s; 
}

.card__section:hover {
    box-shadow: 
    0 0 0 0.125rem var(--secondary-button-color),
    0 0 0 0.25rem var(--secondary-button-color);
}

.card__title {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.card__title:hover {
    color: var(--primary-invalid-color);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-shadow-color);
    padding: 1rem;
}

.card__subtitle {
    font-weight: 800;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}

.card__text {
    font-weight: 500;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    transition: transform 0.25s;
}

.card__contacto-text {
    font-weight: 500;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.25s;
}

.card__contacto-text:hover {
    transform: scale(1.25);
    color: var(--tertiary-shadow-theme-color);
}

.card__section-subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}

.card__section-subtitle:hover {
    color: var(--secondary-highlight-color);
}

.card__section-text {
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
}

.card__section-text::after {
    content: '❤';
}

.card__section-text::before {
    content: '❤';
}

.card__section-text:hover::before,
.card__section-text:hover::after {
    color: red;
}

.card__footer {
    background-color: var(--primary-shadow-color);
    padding: 0.5rem 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .card {
    max-width: 512px;
    }

    .card__title {
    font-size: 1.75rem;
    }

    .card__subtitle {
    font-size: 1.5rem;
    }

    .card__text {
    font-size: 1.25rem;
    }
}