.hero-img {
    z-index: 5;
    position: relative;
}

.hero-img__img {
    display: block;
    background-color: var(--reverse-primary-shadow-color);
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

.hero-img__decorators {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    animation: spin 10s linear 0s infinite normal none running;
}

.hero-img__decorator {
    position: absolute;
    width: 64px;
    height: 64px;
}

.hero-img__decorator:nth-child(1) {
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.hero-img__decorator:nth-child(2) {
    top:50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}

.hero-img__decorator:nth-child(3) {
    top:50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.hero-img__decorator:nth-child(4) {
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

@media (min-width: 768px) {
    .hero-img__img {
        width: 320px;
        height: 320px;
    }

    .hero-img__decorator {
        width: 80px;
        height: 80px;
    }
}