.list {
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    border-bottom: 0.0625rem solid var(--tertiary-theme-color);
    padding: 0.5rem;
    transition: background-color 0.25s;
}

.list__item:hover {
    background-color: var(--tertiary-shadow-theme-color);
}

.list__item:last-child {
    border-bottom: 0;
}