.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.section--secondary {
    background-color: var(--tertiary-shadow-theme-color);
}

.section--hero {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: calc(5rem + var(--padding-section));
    min-height: 100vh;
    overflow: hidden;
}

.section--profile {
    position: relative;
    background-image: url(../../img/fondo-4.1.webp);
    background-size: cover;
    background-position: center;
}

.section--profile::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-shadow-color);
}

.section--profile::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-image: linear-gradient(transparent, var(--tertiary-theme-color));
}

.section__title {
    text-shadow: 0 0 0.5rem var(--secondary-highlight-color);
    font-weight: 800;
    font-size: 1.75rem;
    margin: 0;
}

.section__subtitle {
    font-weight: 800;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}

.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.container--nav-r {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.container--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.container--nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.container--clientes {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

.container--clientes__img {
    padding: 1rem;
}

.container--element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-section);
}

.section--contacto {
    position: relative;
    background-image: url(../../img/16776457-café-en-el-fondo-de-madera-con-hojas-verdes.webp);
    background-size: cover;
    background-position: center;
}


@media (min-width: 768px) {
    .container--hero{
        flex-direction: row;
        gap: 4rem;
    }

    .container--clientes {
        grid-template-columns: repeat(2,1fr);
    }
}