.table-responsive {
    width: 100%;
    overflow: auto;
}

.table {
    background-color: var(--tertiary-shadow-color);
}

.table__header {
    background-color: var(--tertiary-shadow-theme-color);
    color: var(--secondary-highlight-color);
}

.table__cell {
    padding: 0.5rem;
}

.table__row:nth-child(odd) {
    background-color: var(--primary-shadow-color);
}

.table__row:nth-child(even) {
    background-color: var(--secondary-shadow-color);
}

.table__row:hover {
    filter: brightness(112.5%);
    color: var(--secondary-highlight-color);
}

.table__footer {
    background-color: var(--tertiary-shadow-theme-color);
    text-align: center;
}