.d-none {
    display: none;
  }

  .b-radius-none {
    border-radius: 0;
  }
  
  @media (min-width: 768px) {
    .md\:d-none {
      display: none;
    }
  
    .md\:d-block {
      display: block;
    }
  }