:root {
    scroll-behavior: smooth;
    --primary-theme-color: #20232a;
    --secondary-theme-color: #282c34;
    --tertiary-theme-color: #977645;
    --tertiary-shadow-theme-color: #362307;
    --tertiary-shadow-table-color: #5f3c06;
    --primary-text-color: #fff;
    --secondary-text-color: #eee;
    --reverse-primary-text-color: #000;
    --primary-shadow-color: #20232a80;
    --secondary-shadow-color: #282c3480;
    --tertiary-shadow-color: #00000040;
    --reverse-primary-shadow-color: #fff8;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: #ffd700;
    --primary-button-color: #61dafb;
    --secondary-button-color: #ffd700;
    --primary-invalid-color: #dc143c;
    --primary-font-family: 'Roboto', monospace;
    --padding-section: 1.5rem;
    --padding-container: 1rem;
    --max-width-container: 640px;
    --primary-border-radius: 1rem;
}

@media (min-width: 768px) {
    :root {
    --padding-section: 2rem;
    --padding-container: 0.75rem;
    --max-width-container: 1024px;
    }
}